/*Imported Goodle font*/
/*<style>*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap')
/*More general styles override use with wildcard*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General body styles*/
body {
    /* allow to stretch content for user to scroll*/
    min-height: 100vh;  
    display: flex;
    /*so element show under one another*/
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Indie Flower", cursive;

}

h1 {
    font-family: "Indie Flower", cursive;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    color: #042838;
}
h2 {
    font-family: "Indie Flower", cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.hidden-heading {
    display: none;
}

/* Header styles*/
header {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    position: fixed;
    align-items: baseline;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    
    text-decoration: none;
    color: inherit;
}

/*navigation menu*/
#menu {
    /*larger font so it stands out*/
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
}

menu > li {
    /*add some spacing betweem items*/
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Dropdown toggle with styles for navigation bar*/
/*allows to free up some screen space when not in use*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 2rem;
    /*startat bottom of parent element ie. header*/
    top: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    /*nav bar hidden by defaults until user clicked*/
    display: none;
}


/*hidden chekbox*/
#nav-toggle {
    display: none;
}

element.style {
    margin-right: auto;
}

.nav-toggle-label {
    font-size: 1rem;
}

/* Nav toggle element*/
#nav-toggle:checked~nav {
    display: block;
}

/* Main content styles*/
main {
    /*Allow flex properties for children*/
    display:flex;
    flex-direction: column;
     /*take up all surplus space to push footer down*/
    flex: 1 0 auto;
    /*add space above so content not covered by header*/
    margin-top: 47px;
}

/*Hero*/
#hero   {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    /*position: absolute;*/
}

#cover-text {
    background-color: rgba(100, 109, 107, 0.5);
    font-size: 130%;
    position: relative;
    bottom: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    width: 99.3%;

}

#sessions {
    width: 90%;
    margin: 10px auto;
}

#sessions h2 {
    color: #3a3a3a;
    margin-bottom: 20px;
    text-align: left;
    font-size: 280%;
}

#sessions h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#group>p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#times {
    background: url("../images/sched_image.webp") no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #ffff00;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

#painting>div, #drawing>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
    padding: 20px 10% 0 10%;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.4);
    padding: 30px;

}

#signup-form > h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/*Works/Gallery page*/
/*this contain the carousel*/
.container {
  height:80vh;
  width: 100%;
  position: relative;

}

/*set the opacity for the images which will provide tpart of the animation*/
@keyframes fade {
  0 {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }

}


img {
  width:100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  top:0;
  left: 0;
  animation: fade 36s ease-in-out infinite alternate;

}
/*sets the time between each inage appearing and disappearing*/
img:nth-of-type(1) {
  animation-delay: 0s;
}

img:nth-of-type(2) {
  animation-delay: 4s;
}

img:nth-of-type(3) {
  animation-delay: 8s;
}
img:nth-of-type(4) {
  animation-delay: 12s;
}
img:nth-of-type(5) {
  animation-delay: 16s;
} 
img:nth-of-type(6) {
  animation-delay: 20s;
} 
img:nth-of-type(7) {
  animation-delay: 24s;
} 
img:nth-of-type(8) {
  animation-delay: 28s;
} 

img:nth-of-type(9) {
  animation-delay: 32s;
} 



/* Footer styles*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query:tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
 nav {
        display: block;
        box-shadow: none;
        position: relative;
        padding-right: 1 rem;
        width: fit-content;
    }
    
    #menu {
        display: flex;
    }

    menu >li {
        padding-left: 3rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content*/
    main {
    /*Bring down main content to fit larger header*/
    margin-top: 79px;
      }
    
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
  }
  
    