/*More general styles override use with wildcard*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header styles*/
header {
    background-color: lightcoral;
}

/* Main content styles*/
main {
    background-color: lightblue;
}

/* Footer styles*/
footer {
    background-color: orange;
}