/*Imported Goodle font*/
/*<style>*/
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rouge+Script&display=swap');
/*</style>*/
/*More general styles override use with wildcard*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General body styles*/
body {
    /* allow to stretch content for user to scroll*/
    min-height: 100vh;  
    display: flex;
    /*so element show under one another*/
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Rouge Script", cursive;

}
/* Header styles*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

h1 {
    font-family: "Dancing Script", cursive;
}

/* Main content styles*/
main {
    background-color: lightblue;
    /*take up ll surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer styles*/
footer {
    background-color: orange;
}